.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
  background-color: var(--color-300);
  width: 100%;

  span {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-800);
  }

  .tabs {
    button {
      background: none;
      border: none;
      border-radius: 10px;
      margin: 0 5px;
      padding: 3px 10px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      color: var(--color-350);

      &.active {
        border: 1px solid var(--color-350);
      }
    }
  }
}