.header_container {
  background: var(--color-300);
  padding: 11px 200px;
  width: 100%;

  h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
  }
}

@media (max-width: 600px) {
  .header_container {
    padding: 10px;

    h1 {
      font-size: 18px;
    }
  }
}

@media (max-width: 400px) {
  .header_container {
    padding: 10px;

    h1 {
      font-size: 16px;
    }
  }
}