:root {
  --dark_orange-color: #f75932;
  --orange-color: #ff7e5f;
  --box-shadow-color: #fe9262;
  --color-100: #fff4e9;
  --color-150: #ffecd7;
  --color-200: #ffdfbe;
  --color-300: #ffca93;
  --color-350: #c9955d;
  --color-400: #feb567;
  --color-500: #fc8f1a;
  --color-800: #7f4b136b;
  --font-color: #7f4b13;
}